<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Payment Integration/static/style.css">
</head>
<body>
    <div class="main">
        <div class="nav">
        <div class="navbar">
            <a href="#" id="logo"> ApnaPay</a>
        </div>
        <div class="navigation-links">
            <a href="#">careers</a>
            <a href="#">About us</a>
            <a href="#">contact us</a>
        </div>
    </div>

    <div class="page1">
        <img src="/Payment Integration/static/image1.png" alt="">
        <div class="h1">
            <h1>Recharge, pay bills</h1><br>
            <div class="h2"><h1>& send money safely from home</h1></div>
            </div>
    </div>

    <div class="containers">
        <a href="#"><h2>Donate Now</h2></a>
    </div>

    <div class="page2">
        <h1>Simple, Fast & Secure</h1>
        <br>
        <h3>One app for all things money.</h3><br>
        <h5>Pay bills, recharge, send money, buy gold, invest and shop at your favourite stores.</h5><br>
        <div class="border">
        </div>
        <br>
        <div class="video">
            <video autoplay loop muted poster="/static/fast-secure-video-poster-v3-6f33427d52f42e474727f7442b029c59.png">
                <source src="https://www.phonepe.com/webstatic/6063/videos/page/home-fast-secure-v3.mp4" type="video/mp4"></video>
        </div>
        
    </div>
    <div class="page3">
        <h1>Pay whenever you like, wherever you like.</h1><br>
        <h3>Choose from options like UPI, the PhonePe wallet or your Debit and Credit Card.</h3><br>
        <div class="border">
        </div>
        <br>
        <h1>Find all your favourite apps on PhonePe Switch.</h1><br>
        <h5>Book flights, order food or buy groceries. Use all your favourite apps without downloading them.</h5>
    </div>
    

    </div>
    
</body>
</html>